{% macro render_field(field) %}
    <div class="form-group">
    {% if "tick" not in field.name %}
        <label class="col-sm-2 control-label">{{ field.label }}</label>
        <div class="col-sm-10">
        {% if field.name == "upload" %}
            {{ field(class_="", **kwargs)|safe }}
        {% else %}
            {{ field(class_="form-control", **kwargs)|safe }}
        {% endif %}
        {% if field.errors %}
        {% for error in field.errors %}
        <p class="text-danger">{{ error | safe }}</p>
        {% endfor %}
        {% endif %}
        </div>
    {% else %}
        <div class="col-sm-offset-2 col-sm-10">
         <div class="checkbox">
         <label>
         {{ field(class_="", **kwargs)|safe }}
         {{ field.label }}
         </label>
        {% if field.errors %}
        {% for error in field.errors %}
        <p class="text-danger">{{ error | safe }}</p>
        {% endfor %}
        {% endif %}
        </div>


        </div>
    {% endif %}
    </div>
{% endmacro %}
