<div class="panel panel-info">
    <div class="panel-heading">How to make SnippMan to interact with Google SpreadSheets</div>
    <div class="panel-body">
        <p>Please note, work with Google SpreadSheets is possible if:
        <ul>
            <li>You have created a <strong>Google project account</strong> -<br>can be created at <a href="https://console.developers.google.com/cloud-resource-manager" target="_blank">https://console.developers.google.com/cloud-resource-manager</a>.</li>
            <li>You have <strong>Google Drive API</strong> enabled - can be done using the above link,<br>please also see <a href="https://developers.google.com/drive/v3/reference/" target="_blank">https://developers.google.com/drive/v3/reference/</a></li>
            <li>You have <strong>Google SpreadSheets API</strong> enabled - can be done using the very first link,<br>please also see <a href="https://developers.google.com/sheets/api/reference/rest/" target="_blank">https://developers.google.com/sheets/api/reference/rest/</a></li>
            <li>You have properly configured <strong>SnippMan</strong> application <a href="/settings/update">here</a> as follows:
                <ul>
                    <li>uploaded the private key file provided by Google - it will be kept in <strong>snippman/conf</strong> folder as <strong>gdocs.json</strong>.</li>
                    <li>set your e-mail address in the EMAIL property - it will be kept in <strong>snippman/conf/custom.json</strong> file.</li>
                </ul>
                <p>It is not recommended to change settings manually in <strong>snippman/conf/*</strong> files, please use <a href="/settings/update">this link</a> instead.</p>
                </li>
            </li>
        </ul>
        </p>
    </div>
</div>
