{% extends "layout.html" %}

{% block left %}

{% endblock %}


{% block right %}

<div class="panel panel-info">
    <div class="panel-heading">Meet SnippMan</div>
    <div class="panel-body">
        <p>This Flask application is a simple Snippets Manager with Web-interface for CRUD-operations,
            <a href="https://highlightjs.org/">highlight.js</a> as code highlighter, and SQL as a search engine.</p>
        <p>SnippMan is simple, hardly tested, but it is useful enough to deliver its main task - manage snippets.</p>
        <p>Moreover, Snippman's import/export-features support backups in the form of local Excel files and Google SpreadSheets.</p>
    </div>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingZero">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
          Reason
        </a>
      </h4>
    </div>
    <div id="collapseZero" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingZero">
      <div class="panel-body">
          <ul>
              <li>I had the aim of deepening my knowledge and freshening my practical skills.</li>
              <li>I wanted to keep my snippets & other notes locally and search through them from a browser.</li>
              <li>I got inspired by Flask tutorials and StackOverflow.</li>
          </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Tools
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
          <ul>
              <li>Back-end: Flask microframework on the top of whatever Python (i.e. 2 or 3) + argparse</li>
              <li>Database: SQLite (which is inbuilt in Python) + SQLAlchemy</li>
              <li>Front-end: Bootstrap + jQuery + highlight.js and Jinja-templates</li>
          </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Features
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
          <ul>
              <li>Search for snippets through SQLite database by a string entry.</li>
              <li>CRUD operations for snippets and programming languages through web-interface.</li>
              <li>Code highlighting</li>
              <li>Listing snippets:
                  <ul>
                      <li>pagination;</li>
                      <li>pop-10: popular (most visited) snippets;</li>
                      <li>new-10: last created snippets;</li>
                      <li>fresh-10: last updated snippets.</li>
                  </ul>
              </li>
              <li>Statistics:
                  <ul>
                      <li>snippets count per programming language;</li>
                      <li>total snippets count;</li>
                      <li>total programming languages count;</li>
                      <li>last updated/created snippet, most popular snippet.</li>
                  </ul>
              </li>
              <li>Import snippets from a local Excel file to a local sqlite database.</li>
              <li>Export snippets from a local SQLite database to a local Excel file.</li>
              <li>Import snippets from Google SpreadSheets to a local sqlite database.</li>
              <li>Export snippets from a local SQLite database to Google SpreadSheets.</li>
              <li>Web interface to manage application settings.</li>
              <li>Support options to launch SnippMan from command line.</li>
          </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
