{% extends "layout.html" %}
{% block left %}

    Some statistics will be here

{% endblock %}


{% block right %}

{% if url %}
<div class="panel panel-default">
    <div class="panel-heading">Spreadsheet URL</div>
    <div class="panel-body">
        <a href="{{ url }}" target="_blank">{{ url }}</a>
    </div>
</div>
{% endif %}

<div class="panel panel-default">
    <div class="panel-heading">Backups available for download</div>
    <div class="panel-body">
        {% if not files %}
        Seems you have not created backups yet.
        You can create them <a href="/export">here</a>.
        {% endif %}

        <ul>
        {% for file_name in files %}
            <li><a href="/downloads/{{ file_name }}">{{ file_name }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>

{% if url %}
<div class="panel panel-default">
    <div class="panel-heading">Cleanup Google SpreadSheets</div>
    <div class="panel-body">
        Click <a href="/gspreadsheets/cleanup">here</a>
        to remove all Google SpreadSheets which names are prefixed with "Snippets".
    </div>
</div>
{% endif %}

{% endblock %}
