{% extends "layout.html" %}

{% block left %}

{% endblock %}


{% block right %}

<div class="panel panel-info">
    <div class="panel-heading">View Settings</div>
    <div class="panel-body">

        <table class="table table-striped">
            <tr><th>Setting</th><th>Value</th><th>Comment</th></tr>
            {% for setting in settings.keys() | sort %}
            <tr>
                <td>{{ setting }}</td>
                <td style="white-space:pre"><span style='color:{% if settings[setting]["value"] in ["MISSING", "INVALID", "UNDEFINED"] %}red{% else %}green{% endif %}'>{{ settings[setting]["value"] | safe }}</span></td>
                <td>{{ settings[setting]["comment"] }}</td>
            </tr>
            {% endfor %}
        </table>

        <p>
            <a class="btn btn-default" href="/settings/update">Change Settings</a>
            <a class="btn btn-default" href="/settings/restore">Restore Defaults</a>
            <small>Note, after settings restore, SpreadSheet ID will be lost, but GDocs creds file will be left intact.</small>
        </p>

     </div>
</div>

{% include "_gdocs.html" %}

{% endblock %}
