{% extends "layout.html" %}

{% block left %}

{% endblock %}


{% block right %}

<div class="panel panel-info">
    <div class="panel-heading">View Snippet #{{ snippet['id'] }}</div>
    <div class="panel-body">

        <form id="delete_item_form" name="delete_item_form" action="./../delete/" method="POST">
            <input id="item" name="item" type="hidden" value="">
        </form>

        <p>
            <a class="btn btn-default" href="./../edit/{{ snippet['id'] }}">Edit</a>
            <a class="btn btn-default" href="javascript:document.getElementById('item').value={{snippet['id']}};document.getElementById('delete_item_form').submit();">Delete</a>
            <a class="btn btn-default" href="javascript:history.back()">Back</a>
        </p>

        <table class="table table-striped">
            <tr><th>Property</th><th>Value</th></tr>
            <tr><td>Snippet id</td><td>{{ snippet['id'] }}</td></tr>
            <tr><td>Description</td><td>{{ snippet['description'] }}</td></tr>
            <tr><td>Snippet body</td><td><pre><code>{{ snippet['snippet'] }}</code></pre></td></tr>
            <tr><td>Comment</td><td>{{ snippet['comment'] }}</td></tr>
            <tr><td>Created</td><td>{{ snippet['created'] }}</td></tr>
            <tr><td>Last Modified</td><td>{{ snippet['modified'] }}</td></tr>
            <tr><td>Last Accessed</td><td>{{ snippet['accessed'] }}</td></tr>
            <tr><td>Visits</td><td>{{ snippet['visits'] }}</td></tr>
        </table>

        <p>
            <a class="btn btn-default" href="./../edit/{{snippet['id']}}">Edit</a>
            <a class="btn btn-default" href="javascript:document.getElementById('item').value={{snippet['id']}};document.getElementById('delete_item_form').submit();">Delete</a>
            <a class="btn btn-default" href="javascript:history.back()">Back</a>
        </p>

    </div>
</div>

{% endblock %}
